@import "../../../assets/style-config-scss/variables.scss";

:host {
  .search {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    position: fixed;
    background: var(--white);
    left: 0;
    right: 0;
    .input {
      width: 50vw;
      padding: 1em;
      background: var(--light-grey);
      border: 1px solid var(--grey);
      border-radius: 5px;
      max-width: 500px;
      min-width: 100px;
    }
  }
}
