$padding: rem-calc(20);

:host {
  width: 100%;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 0px;
    gap: 1em;
    padding: 10vh 0 20vh 0;

    .card {
      width: 25%;
      text-align: center;
      background: aqua;
      border-radius: 10px;
      padding: 1em;

      img.sprite {
        width: 100%;
        height: 100px;
      }
      h1.title {
        padding: 1em;
      }
    }

    @media (max-width: 768px) {
      .card {
        max-width: 50%;
        width: 50%;
      }
    }
  }
}
