<app-search (searchEvent)="search($event)"></app-search>

<div class="cards">
  <ng-template ngFor let-pokemon [ngForOf]="getAll">
    <div class="card">
      <a [routerLink]="['pokemon', pokemon.id]" class="pokemon" *ngIf="pokemon">
        <img
          class="sprite"
          [src]="pokemon.sprites.other.dream_world.front_default"
          [alt]="pokemon.name"
        />
        <h1 class="title">{{ pokemon.name }}</h1>
      </a>
    </div>
  </ng-template>
</div>
