<div class="contain">
  <div class="header">
    <a class="back" routerLink="/"
      ><img src="./../../../../assets/svgs/back-arrow.svg" alt="back"
    /></a>
    <img src="./../../../../assets/svgs/camera.svg" />
  </div>
  <div class="card">
    <img
      [src]="pokemonData.sprites.other.dream_world.front_default"
      [alt]="pokemonData.name"
    />
    <h1 class="tittle">{{ pokemonData.name }}</h1>
  </div>

  <div class="skills">
    <div class="stats">
      <h1 class="title">Stats</h1>
      <ng-template ngFor let-stats [ngForOf]="pokemonData.stats">
        <p class="stats-name" *ngIf="stats">
          {{ stats.stat.name }} - {{ stats.base_stat }}
        </p>
      </ng-template>
    </div>
    <div class="moves">
      <h1 class="title">Moves</h1>
      <ng-template ngFor let-moves [ngForOf]="pokemonData.moves">
        <p class="move-name" *ngIf="moves">{{ moves.move.name }}</p>
      </ng-template>
    </div>
  </div>
</div>
