.contain {
  background: #ee3e37;
  border: 0.5em solid black;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15vh;
  .header {
    text-align: center;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a.back {
      max-width: 30%;
      img {
        width: 62px;
      }
    }
    img {
      max-width: 50%;
    }
  }
  .card {
    width: 100%;
    height: 50vh;
    background: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      height: 400px;
      max-height: 50%;
    }
    h1 {
      width: 100%;
      padding-top: 2em;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .skills {
    padding-top: 1em;
    width: 100%;
    display: flex;
    text-transform: uppercase;
    .stats,
    .moves {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-left: 1em;
      .stats-name,
      .move-name {
        line-height: 30px;
        border-bottom: 1px solid #505050;
      }
    }
  }

  @media (max-width: 767) {
  }
}
