@import "../../../assets/style-config-scss/rem.scss";

:host {
  .nav-bottom {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
    bottom: 0;
    display: flex;
    background-color: var(--light-grey);
    a {
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
      img {
        height: 90px;
        margin: 0 auto;
        max-height: 70%;
      }
    }
    a._link:hover {
      background: aqua;
    }
  }
}
