<!-- Bottm bar -->
<nav class="nav-bottom" role="navigation">
  <a class="_link" routerLink="/my-pokemons">
    <img src="/././assets/svgs/pokebag.svg" alt="Pokebag" />
  </a>
  <a class="_link" routerLink="/">
    <img src="/././assets/png/pokeball.png" alt="pokeball" />
  </a>
  <a class="_link" routerLink="/">
    <img src="/././assets/svgs/pokedex.svg" alt="podedex" />
  </a>
</nav>
