<main>
  <div class="cards">
    <div class="favorite">
      <h1>My Pokemons</h1>
      <div class="myPokemons">...</div>
    </div>
    <div class="favorite">
      <h1>Favorite</h1>
      <div class="myFavorite">...</div>
    </div>
  </div>
</main>

<app-nav-bottom></app-nav-bottom>
