@import "./assets/style-config-scss/rem.scss";
@import "./assets/style-config-scss/animations.scss";
@import "./assets/style-config-scss/reset.scss";
@import "./assets/style-config-scss/variables.scss";

html {
  font-family: "Nunito", sans-serif;
  background: var(--light);
}

main {
  width: 80vw;
  height: 90vh;
  box-sizing: border-box;
  margin: 0 auto;
  top: 0;
}
a {
  text-decoration: none;
  color: var(--DarkGrey);
}
h1 {
  font-size: 18px;
  font-weight: bold;
  padding: 1em;
  line-height: 16px;
}
